h1, h2, h3 {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.2;
  font-weight: normal;
  margin-top: 8px;
}

*:focus {
  outline:0;
}

body {
  font-family: 'Open Sans';
  background-color: $background-grey;
  margin:0px;
}

.custom-hide {
  opacity: 0 !important;
  pointer-events: none;
}

.custom-remove {
  margin-left: -999999px;
}

.no-padding {
  padding:0px !important;
}

.no-padding-right {
  padding-right: 0px;
}

.no-padding-left {
  padding-left: 0px;
}

  @media (max-width: 768px) {
  .no-padding-mobile {
  padding:0px;
  }
}
    @media (max-width: 768px) {
  .no-side-margin-mobile {
  margin-left:0px !important;
  margin-right: 0px !important;
  }
}

    @media (max-width: 768px) {
  .no-margin-mobile {
  margin:0px !important;
  }
}


.flip {
        -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
}
