button.outline {
  border: 2px solid $color-prim;
  background-color: white;
  font-size: 16px;
  padding:8px;
  font-weight: bold;
  color: $color-prim;
  margin-top: 24px;
  @media (max-width: 992px) {
    margin-top: 18px;
  }
}
button {
  cursor: pointer;
  transition: .5s;
}
button:hover {
  transform: scale(1.1, 1.1);
}
button:active {
  transform: scale(1, 1);
}
button.white-outline {
  border: 2px solid white;
  font-size: 16px;
  background-color: transparent;
  color: white;
  padding:8px;
  font-weight: bold;
  margin-top: 16px;
}

  @media (max-width: 768px) {
    #homepage-main-button {
      position:absolute;
      bottom:-180px;
      z-index: 5;
      font-size: 24px;
      left: calc(50% - 65px)

    }
  }
