.card {
  @include card-props;
}

#first-card {
    margin-left: 60px;
  @media (max-width: 768px) {
    margin-left:8%;
  }
}

.homepage-info-card {
  margin-top: 40px;
  background-color: white;
  h2 {
    color: $color-prim;
    margin-bottom: 24px;
  }
  p {
    color: $text-grey;
    font-size: 16px;
  }
}

.mini-card {
background-color: white;
margin-bottom: 30px;
color: $text-grey;
font-size: 16px;

 h4 {
  margin-bottom: 16px;
  color: $color-prim;
 }
}

#contact-card {
  position: absolute;
  width:70%;

  @media (max-width: 6000px) {
    right:-290px;
    top:50px;
  }
    @media (max-width: 1000px) {
    right:-190px;
    top:50px;
  }

  @media (max-width: 860px) {
    right:-200px;
    width:80%;
    top:50px;
  }
  @media (max-width: 768px) {
    display:block;
    width:120%;
    margin-top: 50px;
    position:static;
    margin-bottom: -150px;
  }
  p{
  color: white;
  position:relative;
  margin-left: 50px;
  margin-bottom: 15px;
  font-size: 16px;
  word-wrap:break-word;
  }
  @include grad-prim;
}
