#frontpage-content {
  padding-right: 120px;
  padding-left: 120px;
}

@media (max-width: 1150px) {
  #frontpage-content {
  padding-right: 80px;
  padding-left: 80px;
  }
}

@media (max-width: 992px) {
  #frontpage-content {
  padding-right: 30px;
  padding-left: 30px;
  }
}

@media (max-width: 768px) {
  #frontpage-content {
  padding-right: 0px;
  padding-left: 0px;
  }
}

