#logo {
  width: 200px;
  display:inline-block;
  margin-left: 30px;
    @media (max-width: 768px) {
      margin-left: 10px;
    margin-top: 70px;
  }
}

header {
  height: 100px;
  position:relative;
  display:flex;
  align-items:center;
  background-color:white;
  @media (max-width: 768px) {
    z-index: 20;
    @include box-shadow-header;
    height:160px;
  }
}

nav {
  margin-left: 100px;
  margin-bottom: -20px;
  display:inline-block;
  flex-direction:column;
  .fa-bars {
    font-size: 32px;
    color:$text-grey;
    margin-right: 10px;
  }
  ul {
    display:inline-block;
  }
  li {
    display: inline-block;
    font-size: 16px;
    padding: 10px;
    padding-right: 30px !important;
    padding-left: 30px;
    color: $text-grey;
  }
  li:nth-child(2), li:nth-child(1) {
    border-right:1px solid #e3e3e3;
  }
  @media (max-width: 1200px) {
    position:absolute;
    right:160px;
    top:55px;
  }
    @media (max-width: 768px) {
    position:absolute;
    right:20px;
    top:95px;
  }
}

.header-contact {
  z-index: 3;
  position: absolute;
  top:-5px;
  right:30px;
  background-color: blue;
  padding: 13px;
  padding-top: 17px;
  @include grad-prim;
  border-radius: $br;
  span, i {
    color:white;
    padding-right: 5px;
    font-size: 24px;
  }
  span {
    font-size: 16px;
    color:white;
    padding-right: 15px;
  }
  .mobile-contact-button {
  display:none;
  }
  @media (max-width: 460px) {
    right:-10px;
    left:-10px;
    span, i {
      display: none;
    }
    .mobile-contact-button span , .mobile-contact-button i, .mobile-contact-button {
      display:inline-block;
      text-align: center;
    }
   }
  .header-contact-skew {
    z-index: -1;
    @include grad-prim;
    position:absolute;
    height:100%;
    width:90%;
    border-radius: $br;
    left:-20px;
    top:0px;
    transform: skewX(20deg);
    @media (max-width: 460px) {
    display:none;
    }
  }
    @media (max-width: 768px) {
    right:-5px;
  }
}

  .mobile-contact-button {
  width:49%;
  display:flex;
  justify-content: center;
  }

#mobile-email-button {
  border-right: 1px solid white;
}
